@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "/node_modules/normalize.css/normalize.css";
.navigation {
  padding: 16px;
  background-color: #1E2A31;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__link {
  text-decoration: none;
  color: #ECEFF0;
  font-weight: 300;
  margin-right: 16px;
  transition: all 0.3s ease;
}
.navigation__link:hover {
  color: #F0F757;
}
.navigation__link--logo {
  color: #F0F757;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: auto;
  font-size: 1.25em;
}
.navigation__link--logo:hover {
  color: #ECEFF0;
}
.navigation__link--button {
  background-color: #F0F757;
  color: #1E2A31;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 16px;
}
.navigation__link--button:hover {
  color: #1E2A31;
  background-color: #ECEFF0;
}
.navigation__link--login {
  background-color: #F0F757;
}
.navigation__link--logout {
  background-color: #E54651;
  color: #ECEFF0;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.footer {
  background-color: #1E2A31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__header {
  text-transform: uppercase;
  color: #4CAAF5;
  margin: 48px 0;
  width: 100%;
  text-align: center;
}
.footer__link {
  width: 42px;
  height: 42px;
  margin: 48px 0;
  border: 1px solid;
  border-radius: 50%;
  padding: 8px;
  transition: all 0.3s ease;
}
.footer__link--facebook {
  border-color: #4CAAF5;
}
.footer__link--youtube {
  border-color: #E54651;
}
.footer__link--snapchat {
  border-color: #F0F757;
}
.footer__link--linkedin {
  border-color: #4CAAF5;
}
.footer__link--instagram {
  border-color: #C58FEE;
}
.footer__link:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.footer__image {
  width: 100%;
}
.footer__privacy {
  color: #4CAAF5;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  position: relative;
}
.social-media::before {
  content: "";
  position: absolute;
  display: block;
  width: 85%;
  height: 1px;
  left: 8%;
  top: 0;
  background-color: #4CAAF5;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.main::before {
  content: "";
  background-image: url("/src/assets/images/backgrounds/about-background.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: -1;
}

.header {
  width: 60%;
  position: relative;
}
.header__title {
  font-size: 5em;
  position: absolute;
  top: -36px;
  color: #F0F757;
  left: -16px;
  opacity: 0.5;
  z-index: -1;
  margin: 0;
}
.header__question {
  width: 80%;
  color: #1E2A31;
}

.persons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.person {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.person__image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  background-position: top center;
  border-radius: 50%;
}
.person__line {
  height: 72px;
  width: 1px;
  background-color: #000;
  margin: 32px 0;
}
.person__name {
  margin: 0;
}
.person__description {
  text-align: center;
  margin: 0;
  font-weight: 100;
  width: 70%;
}

/*# sourceMappingURL=about.css.map */
