@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "/node_modules/normalize.css/normalize.css";

@import "modules/navigation.scss";
@import "modules/footer.scss";

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    // scroll-behavior: smooth;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

//content is in main
.main {
    // margin: 0 64px;
    // height: 100vh;
}

//hero header
.hero {
    margin: 0;
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;

    &-container {
        width: 50%;
    }

    &__header {
        margin: 0;
        font-size: 4em;
        color: $burnt-white;
        width: 70%;

        &--special {
            color: $red;
        }
    }

    &__description {
        font-weight: 300;
        color: $gray;
        width: 75%;
        line-height: 1.5em;
    }
}

//lastest posts section
.latest-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;

    &__header {
        text-transform: uppercase;
        margin: 64px 0 0 0;

        &--posts {
            color: $blue;
        }
    }

    &__description {
        width: 60%;
        text-align: center;
        color: $dark;
        font-weight: 300;
    }
}

.posts {
    margin-top: 16px;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 64px;
}

//information about blog section
.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    min-height: 600px;

    &__container {
        width: 35%;
    }

    &__header {
        text-transform: uppercase;
        color: $burnt-white;

        &--blog {
            color: $yellow;
        }
    }

    &__description {
        color: $burnt-white;
        font-weight: 300;
        width: 70%;

        &--bottom {
            color: $gray;
            opacity: 0.5;
            width: 80%;
            margin-bottom: 32px;
        }
    }

    &__button {
        background-color: $yellow;
        color: $dark;
        padding: 6px 12px;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
            background-color: $burnt-white;
        }
    }

    &__image {
        width: 600px;
        height: 400px;
        border-radius: 8px;
        box-shadow: 20px 20px 36px;
    }
}

//quote section
.quote {
    min-height: 400px;
    background-color: $yellow;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__background {
        margin: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 16em;
        text-transform: uppercase;
        color: $dark;
        opacity: 0.1;
    }

    &__text {
        font-size: 1.2em;
        font-weight: 300;
        position: relative;

        &::before {
            content: url(/src/assets/icons/left-quote.svg);
            position: absolute;
            bottom: 0;
            left: -32px;
            font-size: 8em;
            opacity: 0.7;
        }
        &::after {
            content: url(/src/assets/icons/right-quote.svg);
            position: absolute;
            top: -64px;
            right: -32px;
            font-size: 8em;
            opacity: 0.7;
        }
    }

    &__box {
        width: 36px;
        height: 36px;
        background-color: $dark;
        border-radius: 50%;
        position: relative;
    }
}